{% extends 'base.html.twig' %}

{% block title %}Edit ProjectLog{% endblock %}

{% block body %}
    <h1>Edit ProjectLog</h1>

    {{ include('project_log/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_project_log_index') }}">back to list</a>

    {{ include('project_log/_delete_form.html.twig') }}
{% endblock %}
