{% extends 'base.html.twig' %}

{% block title %}New Project{% endblock %}

{% block body %}
    <h1>Créer un nouveau projet</h1>

    {{ include('project/_form.html.twig') }}

    <a href="{{ path('app_project_index') }}">Revenir à la liste</a>
{% endblock %}
